{% extends "user-base.html" %} 
    {% block content %} 

    <div class="card">
        <a href="./images/qrcode.png">Download >></a>
    </div>

    <div class="container" id="top-container">
        <form action="{{ url_for('add_can') }}", method="post">
            <input type="text" class="input-block" id="input" name='add_can', placeholder="Enter a new can to go in the cupboard">
            <button type="submit" class="btn btn-block" id="submit">Add Can</button>
        </form>
    </div>

    <div class="container bg-light">
        {% for can in cans %}
        <div>
            <div class="info">
                <form action="item/{{ can.id }}" method = "POST">
                    <button class="item-btn btn">{{can.name}}</button>
                </form>
                <p>Q: {{can.number}}</p>
            </div>    
        </div>


        {% endfor %}

    </div>

    {% endblock %}