<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main2.css">
    <title>Cans</title>
</head>
<body>
    <nav id="main-nav">
        <div class="container">
            <!-- <h1>Can Inventory</h1> -->
            <ul>
                <li>
                    <form action="home" method = "POST">
                        <button class="btn btn-header">Home</button>
                    </form>
                </li>
                <li>
                    <form action="login" method = "POST">
                        <button class="btn btn-header">Login</button>
                    </form>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li>
                    <form action="register" method = "POST">
                        <button class="btn btn-header">Register</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>